<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Update Library</title>
</head>
<body>
<div class="container">
    <div class="containerDiv"></div>
    <div class="content containerDiv">
        <!--/*@thymesVar id="kunde" type="at.fh.winb.swd.libary.dto.BibliothekDTO"*/-->
        <form action="#" th:action="@{/bibliothek/update/{id}(id=${bibliothekDTO.id})}" th:object="${bibliothekDTO}" method="post">
            <div class="detailDiv">
                <div>
                    <label for="adresse">Name:</label>
                    <input type="text" th:field="*{addresse}" id="adresse" placeholder="Adresse">
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            </div>
        </form>
        <th id="backtoLibraryLink">
            <a th:href="@{/bibliothek/{id}(id=${bibliothekDTO.id})}">Back to Library details</a>
        </th>
    </div>
    <div class="containerDiv"></div>
</div>
</body>
</html>
