<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Create new Reservation</title>
</head>
<body>
<div class="container">
    <div class="containerDiv"></div>
    <div class="content containerDiv">
        <!--/*@thymesVar id="kunde" type="at.fh.winb.swd.libary.dto.BibliothekDTO"*/-->
        <form action="#" th:action="@{/reservierungen}" th:object="${reservierungenDTO}" method="post">
            <div class="detailDiv">
                <div>
                    <label for="adresse">Adresse:</label>
                    <input type="text" th:field="*{id}" id="adresse" placeholder="Adresse">
                </div>
                <div>
                    <input type="submit" value="Add Adresse">
                </div>
            </div>
        </form>
        <a href="/reservierungen">Back to all Reservations</a>
    </div>
    <div class="containerDiv"></div>
</div>
</body>
</html>
