<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Create new customer</title>
</head>
<body>
<div class="container">
    <div class="containerDiv"></div>
    <div class="content containerDiv">
        <!--/*@thymesVar id="kunde" type="at.fh.winb.swd.libary.dto.KundenDTO"*/-->
        <form action="#" th:action="@{/kunden}" th:object="${kundenDTO}" method="post">
            <div class="detailDiv">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Name">
                </div>
                <div>
                    <input type="submit" value="Add User">
                </div>
            </div>
        </form>
        <a href="/kunden">Back to all customers</a>
    </div>
    <div class="containerDiv"></div>
</div>
</body>
</html>
