<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>All stored customers</title>
</head>
<body>
<div class="container">
    <div class="containerDiv"></div>
    <div class="content containerDiv">
        <table>
            <caption>customer overview</caption>
            <thead>
            <tr>
                <th id="name" colspan="3">Name</th>
                <th id="details" colspan="1">Details</th>
                <th id="edit" colspan="1">Edit</th>
                <th id="delete" colspan="1">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(elements)}">
                <td class="listTD" colspan="6"> No customers available</td>
            </tr>
            <!--/*@thymesVar id="kunde" type="at.fh.winb.swd.libary.dto.KundenDTO"*/-->
            <tr th:each="kunde : ${elements}">
                <td colspan="3"><span th:text="${kunde.name}"></span></td>
                <td colspan="1"><a th:href="@{/kunden/{id}(id=${kunde.id})}">Show details</a></td>
                <td colspan="1"><a th:href="@{/kunden/edit/{id}(id=${kunde.id})}">Edit</a></td>
                <td colspan="1"><a th:href="@{/kunden/delete/{id}(id=${kunde.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <a href="/kunden/create">Create a new customer</a>
    </div>
    <div class="containerDiv"></div>
</div>
</body>
</html>
