<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instant checkout</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
    <div class="containerDiv"></div>
    <div class="content containerDiv">
        <form action="#" th:action="@{/rent/{id}/{e_id}/instant(id=${kundenDTO.id},e_id=${exemplarDTO.id})}"
              th:object="${ausleiheDTO}" method="post">
            <div class="instant" th:object="${reservierungenDTO}">
                <caption th:text="'Instant Checkout for '+${exemplarDTO.medien.name}"></caption>
                <input type="submit" value="Add Ausleihe">
                <a href="/">Cancel</a>
            </div>
        </form>
    </div>
    <div class="containerDiv"></div>
</div>
</body>
</html>